<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Other CSS files or stylesheets -->
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <!-- Your layout content here -->

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Other JavaScript files or scripts -->
</body>
</html>