<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - My Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">My Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/About">About</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <footer class="mt-auto">
		<hr />
		<div class="d-flex justify-content-center">
			<a href="#"><i class="fa fa-twitter fa-lg mx-3"></i></a>
			<a href="#"><i class="fa fa-facebook fa-lg mx-3"></i></a>
			<a href="#"><i class="fa fa-discord fa-lg mx-3"></i></a>
			<a href="#"><i class="fa fa-stack-overflow fa-lg mx-3"></i></a>
			<a href="#"><i class="fa fa-reddit fa-lg mx-3"></i></a>
			<a href="#"><i class="fa fa-instagram fa-lg mx-3"></i></a>
			<a href="#"><i class="fa fa-twitch fa-lg mx-3"></i></a>
			<a href="#"><i class="fa fa-github fa-lg mx-3"></i></a>
			<a href="#"><i class="fa fa-youtube fa-lg mx-3"></i></a>
		</div>
    <p class="text-center">&copy; My Blog 2023</p>
	</footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>