<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - My Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">My Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/About">About</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <footer class="mt-auto fixed-bottom">
	<hr />
	<div class="d-flex justify-content-center">
		<a href="https://twitter.com/gbowne1"><i class="fab fa-twitter fa-lg mx-3"></i></a>
		<a href="https://www.facebook.com/gbowne1/"><i class="fab fa-facebook fa-lg mx-3"></i></a>
		<a href="https://discord.gg/rA3kjfbc"><i class="fab fa-discord fa-lg mx-3"></i></a>
		<a href="https://stackoverflow.com/users/14910204/greg-bowne"><i class="fab fa-stack-overflow fa-lg mx-3"></i></a>
		<a href="https://www.reddit.com/user/gbowne1"><i class="fab fa-reddit fa-lg mx-3"></i></a>
		<a href="https://www.instagram.com/gbowne1/"><i class="fab fa-instagram fa-lg mx-3"></i></a>
		<a href="https://www.twitch.tv/gbowne1"><i class="fab fa-twitch fa-lg mx-3"></i></a>
		<a href="https://github.com/gbowne1/"><i class="fab fa-github fa-lg mx-3"></i></a>
		<a href="https://www.linkedin.com/in/gregory-bowne-47886591/"><i class="fab fa-linkedin fa-lg mx-3"></i></a>
		<a href="https://www.youtube.com/channel/UCF7M0aujxmyljaRICq1C8WA"><i class="fab fa-youtube fa-lg mx-3"></i></a>
	</div>
	<p class="text-center">&copy; My Blog @DateTime.Now.Year</p>
	</footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>