@{
    ViewData["Title"] = "Access Denied";
}

<h1>@ViewData["Title"]</h1>
<p>Sorry, but you don't have access to that page.</p>
<p>
    <a asp-controller="Home" asp-action="Index">Go to Home Page</a>
</p>