@model MyBlog.Models.ApplicationUser

<form method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="@Model.UserName" />

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="@Model.Email" />

    <!-- Other fields for editing user details -->

    <button type="submit">Save Changes</button>
</form>