@model IEnumerable<MyBlog.Models.Comment>

@foreach (var comment in Model)
{
    <div>
        <p>@comment.Content</p>
        <small>By: @comment.Author.UserName</small>
        <small>At: @comment.DatePosted</small>
    </div>
}