@model MyBlog.Models.Post

<h1>@Model.Title</h1>
<p>@Model.Content</p>
<small>Author: @Model.Author.UserName</small>
<small>Published: @Model.PublishDate</small>

<!-- Display comments here -->