@{
    ViewData["Title"] = "Manage Account";
}

<h2>@ViewData["Title"]]</h2>

<div>
    <h4>Change Password</h4>
    <p>
        <a asp-action="ChangePassword">Change your password</a>
    </p>
</div>

<div>
    <h4>External Logins</h4>
    <p>
        <a asp-action="ExternalLogins">Manage your external logins</a>
    </p>
</div>

<div>
    <h4>Two-Factor Authentication</h4>
    <p>
        <a asp-action="TwoFactorAuthentication">Manage your two-factor authentication</a>
    </p>
</div>

<div>
    <h4>Personal Data</h4>
    <p>
        <a asp-action="PersonalData">Download or delete your personal data</a>
    </p>
</div>