@{
    ViewData["Title"] = "Editor";
}

<h2>Editor</h2>

<div>
    @Html.EJS().RichTextEditor("editor").Render()
</div>

@section Scripts {
    <script src="~/Scripts/ej2/ej2.min.js"></script>
    <link href="~/Content/ej2/ej2.min.css" rel="stylesheet" />
}
