@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<h2>Introduction</h2>
<p>This privacy policy explains how we use and protect any information that you give us when you use our blog.</p>

<h2>Information We Collect</h2>
<p>We collect several types of information for operation of our blog, to maintain the quality of the content, and to ensure a good reading experience for you.</p>